p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 20px 20px;
}

ul {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("background.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow: scroll;
}

.popup {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: black;
  background-image: url("background.jpeg");
  background-position: bottom;
  font-weight: bold;
}

.hide-popup-button {
  width: 170px;
  height: 50px;
  font-size: 26px;
  background-color: rgb(160, 220, 240);
  font-weight: bold;
  margin: 20px 0 0 0;
}
